* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: round;
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}

.banner {
    background-image: url(/PizzaLandingPage/image/ivan-torres-MQUqbmszGGM-unsplash.jpg);
    height: 1000px;
}

.btn {
    background-color: #AA2B2D;
    cursor: pointer;
    font-size: 15px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-left: 14%;
    margin-top: 5%;
    border: none;
}

.btn a {
    text-decoration: none;
    color: white;
    font-family: 'Rubik', sans-serif;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-size: 20px;
}

h1 {
    font-size: 80px;
    padding: 0%;
    margin: 0%;
}

.text1 {
    color: #AA2A2D;
    margin-left: 13%;
    padding-top: 5%;
}

.P2 {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

.pizza {
    font-family: 'Beth Ellen', cursive;
    color: #fff;
}

.btn:hover {
    background: rgba(0, 0, 0, 0.5);
}

.P2:hover {
    color: #fff;
}

.navbar li {
    display: inline;
    word-spacing: 80px;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}
 
.navbar {
    padding-top: 15px;
    margin-left: 60%;
    position: fixed;
    top: 0px;
    width: 100%;
}
.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar li :hover {
    color: #F54748;
}

.order {
    word-spacing: 0;
}

.aboutus {
    word-spacing: 0; 
}

.contactus { 
    word-spacing: 0;
}

.deals {
    word-spacing: 0;
}

.carousel {
  padding-top: 0%;
  margin-top: 420px;
  margin-left: 27%;
  overflow: hidden;
  width: 900px;
  position: relative;
}
  
.carousel .carousel__item,
.carousel .carousel__item--hidden {
     display: none;
}
  
.carousel .carousel__item img {
   width: 900px;
   height: 405px;
}
  
.carousel .carousel__item--visible {
   display: block;
   animation: fadeVisibility 0.5s;
   margin-bottom: 0;
}
  
.carousel .carousel__actions {
   display: flex;
   width: 100%;
   justify-content: space-between;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
}   
  
.carousel .carousel__actions button {
   border-radius: 50px;
   border: 0;
   font-weight: bold;
   cursor: pointer;
   width: 40px;
   height: 40px;
}
  
.carousel .carousel__actions button#carousel__button--prev {
   margin-left: 20px;
}
  
.carousel .carousel__actions button#carousel__button--next {
   margin-right: 20px;
}
  
 @keyframes fadeVisibility {
 0% {
     opacity: 0;
}
 100% {
     opacity: 1;
     transform: opacity linear;
}
}

.footer {
    background-color: #F54748;
    height: auto;
    width: 100vw;
    color: #fff;
    margin-top: 20px;
}

.footer p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer h3 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    font-family: 'Beth Ellen', cursive;
}

.footer-padding {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #000;
}

.socials a i {
    transition: color .4s ease;
}

.socials a:hover i {
    color: #fff;
}

.footer-bottom {
    background-color: #AA2B2D;
    width: 100vw;
    padding:  15px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
}

.footer-bottom span {
    color: black;
    opacity: .5;
}